.experience__container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 16px;
	a:link {
		color: #f2a52b;
		font-size: 12px;
		text-decoration: underline;
	}
	a:visited {
		color: #f2a52b;
	}
	a {
		color: #f2a52b;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
